<!-- LAYOUT DES PAGES -->

<html data-th-fragment="layout(content)" lang="fr" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>AMA</title>
    <link href="/css/general.css" rel="stylesheet">
</head>

<body>
<header>
    <a href="/" class="div-logo">
        <img th:src="@{/img/logo-ama2.svg}" alt="logo AMA" class="logo">
    </a>
    <nav>
            <div>
                <a href="/">Accueil</a>
            </div>
            <div th:if="${#authorization.expression('hasRole(''USER'')')}">
                <a href="/vendre">Vendre</a>
            </div>
            <div th:if="${#authorization.expression('hasRole(''USER'')')}">
                <a href="/mes-ventes">Mes ventes</a>
            </div>
            <div th:if="${#authorization.expression('hasRole(''USER'')')}">
                <a href="/mes-encheres">Mes enchères</a>
            </div>
            <div th:if="${#authorization.expression('hasRole(''USER'')')}">
                <a href="/mon-compte">Mon compte</a>
            </div>
            <div th:if="${!#authorization.expression('isAuthenticated()')}">
                <a href="/inscription">Inscription</a>
            </div>
            <div th:if="${!#authorization.expression('isAuthenticated()')}">
                <a class="button-connexion" href="/connexion">Connexion</a>
            </div>
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <form class="formBoutonLogout" data-th-action="@{/logout}" method="post">
                    <input name="_csrf" type="hidden" value="${_csrf.token}">
                    <button class="boutonLogout" type="submit">Déconnexion</button>
                </form>
            </div>
    </nav>
</header>

<main data-th-replace="${content}"></main>

<footer>
    <p>ENI 2026 - <a href="https://github.com/ALC-Tymy">Adrien Le Clech</a>, <a href="https://github.com/mauditbutin">Maud Butin</a> & <a href="https://github.com/AdrienQ18">Adrien Quintard</a></p>
</footer>

<script th:src="@{/js/countdown.js}"></script>
</body>
</html>