* {
    margin: 0;
    font-family: Inter, system-ui;
}

/********************************************************/
/** GENERAL **/
/********************************************************/

html, body {
    height: 100%;
    scrollbar-color: #05252C #51949E;
}

html::-webkit-scrollbar {
    width: 12px;
}

html::-webkit-scrollbar-track {
    background: #51949E;
}

html::-webkit-scrollbar-thumb {
    background-color: #05252C;
    border-radius: 10px;
    border: 3px solid #51949E;
}

html {
    scrollbar-gutter: stable;
}

body {
    background: #05252C;
    background: linear-gradient(180deg, rgba(5, 37, 44, 1) 0%, rgb(15, 75, 85) 100%);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    margin-bottom: 3vh;
}

h2 {
    font-weight: bolder;
    font-size: 2.8em;
    color: #2ECEA4;
    margin-top: 2.7em;
    line-height: 1.2em;
    text-align: center;
}


footer {
    /*position: absolute;*/
    width: 100%; height: 20px;
    bottom: 0; left: 0; right: 0;
    padding-bottom: 0.5em;
    text-align: center;
    font-size: 0.8em;
    color: white;
}

footer a {
    color: #2ECEA4;
    text-decoration: none;
}


/********************************************************/
/** NAV **/
/********************************************************/

header {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    width: 90%;
    /*width: fit-content;*/
    margin: auto;
    border-radius: 100px;
    background: rgba(43, 96, 104, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    display: flex;
    justify-content: space-between;
}

.div-logo {
    margin-left: 2em;
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
}

header nav {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    height: 55px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-size: 1em;
    margin: auto 2vw auto auto;
}

header a:hover {
    color : #2ECEA4;
    transition: all .1s ease-in;
}

/**********************************/
/** Burger Menu **/
/**********************************/

input[type=checkbox]{
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
}

.burger {
    display: none;
}

.button-connexion,
.boutonLogout {
    color: #2ECEA4;
    padding: 0.3em 0.8em;
    border: solid 1px #2ECEA4;
    border-radius: 50px;
}

.boutonLogout {
    background-color: rgba(26, 96, 94, 0);
    margin: auto 1.8em auto auto;
    font-size: 1em;
    cursor: pointer;
}

.button-connexion:hover,
.boutonLogout:hover{
    background-color: #2ECEA4;
    color: #05252C;
    transition: all .2s ease-in;
}


/********************************************************/
/** PAGE ERREUR **/
/********************************************************/


.page-error {
    color: white;
    text-align: center;
}

.page-error li {
    list-style: none;
    margin-top: 3em;
}


/********************************************************/
/** RESPONSIVE **/
/********************************************************/


@media screen and (max-width: 970px) {

    .nav-links {
        display: none;
    }

    .burger {
        display: block;
        cursor: pointer;
        margin-right: 50%;
    }

    input[type=checkbox]:checked ~ .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 8vh;
        background-color: #05252C;
        width: 50%;
        height: 92vh;
    }

    h2 {
        font-size: 2.3em;
        margin-top: 3.1em;
    }

}


@media screen and (max-width: 768px) {

    h2 {
        font-size: 1.8em;
        margin-top: 3.8em;
    }
}

