* {
    margin: 0;
    font-family: system-ui;
}

/********************************************************/
/** CSS PROVISOIRE **/
/********************************************************/

header {
    background-color: #dcdcdc;
    text-decoration: none;
    color: black;
    padding-left: 10px;
    text-align: center;
}

main {
    padding-left: 10px;
}

header a {
    text-decoration: none;
    color: black;
}

ul {
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
    padding: 10px 0 10px 0;
    margin-bottom: 20px;
    justify-content: center;
}

li {
    margin-right: 10px;
    margin-left: 0;
}

footer {
    background-color: #dcdcdc;
    position: absolute;
    width: 100%; height: 20px;
    bottom: 0; left: 0; right: 0;
    text-align: center;
}

.error {
    color: red;
    font-size: 0.8em;
}