* {
    margin: 0;
    font-family: system-ui;
}

/********************************************************/
/** CSS PROVISOIRE **/
/********************************************************/

header {
    background-color: #dcdcdc;
    text-decoration: none;
    color: black;
    padding-left: 10px;
    text-align: center;
}

main {
    padding-left: 10px;
}

header a {
    text-decoration: none;
    color: black;
}

ul {
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
    padding: 10px 0 10px 0;
    margin-bottom: 20px;
    justify-content: center;
}

li {
    margin-right: 10px;
    margin-left: 0;
}

footer {
    background-color: #dcdcdc;
    position: relative;
    width: 100%; height: 20px;
    bottom: 0; left: 0; right: 0;
    text-align: center;
}

.error {
    color: red;
    font-size: 0.8em;
}

/** MODALE - CONFIRMATION DE DESACTIVATION DE COMPTE **/

.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
}

.overlay {
    cursor: default;
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

.modal:target{
    visibility: visible;
    opacity: 1;
}

.modal_content {
    border-radius: 4px;
    position: relative;
    width: 500px;
    max-width: 90%;
    background: white;
    padding: 1.5em 2em;
}

.box-enchere{
    width: 500px;
    margin: 10px;
    padding: 5px;
    background-color: #d1d1d1;
}