<!DOCTYPE html>

<div th:replace="~{fragments/layout :: layout(content= ~{::main}) }" xmlns:margin="http://www.w3.org/1999/xhtml">
    <main>

        <h2 th:text="${article.name}"></h2>

        <div class="countdown"
             th:attr="data-end=${#temporals.format(article.endingDate, 'yyyy-MM-dd''T''HH:mm:ss')}">
        </div>

        <div class="conteneur-details-article"> <!-- Section des infos / 2 colonnes -->

            <div class="details-article-infos"> <!-- 1ère colonne : infos de l'article -->

                <div th:class="'details-article-cate cat-' + ${article.category.idCategory}">

                    <!-- Icône suivant la catégorie de l'article -->
                    <div th:switch="${article.category?.idCategory}">
                        <div th:case="1">
                            <img class="icon-cate-detail" th:src="@{/img/icon-info.svg}" alt="Icône de tablette">
                        </div>
                        <div th:case="2">
                            <img class="icon-cate-detail" th:src="@{/img/icon-furniture.svg}" alt="Icône de chaise">
                        </div>
                        <div th:case="3">
                            <img class="icon-cate-detail" th:src="@{/img/icon-clothes.svg}" alt="Icône de chaussettes">
                        </div>
                        <div th:case="4">
                            <img class="icon-cate-detail" th:src="@{/img/icon-sport.svg}" alt="Icône de ballon">
                        </div>
                        <div th:case="5">
                            <img class="icon-cate-detail" th:src="@{/img/icon-hobby.svg}" alt="Icône de livre">
                        </div>
                    </div>
                    <span th:text="${article.category.name}"></span>
                </div>

                <!-- Dates des enchères -->
                <p class="details-article-dates">Enchères du
                    <span th:text="${#temporals.format(article.beginningDate, 'dd/MM/yyyy') }"></span>
                    au <span th:text="${#temporals.format(article.endingDate, 'dd/MM/yyyy') }"></span>
                </p>

                <hr class="details-article-divider">

                <!-- Description -->
                <p class="details-article-description" th:text="${article.description}"></p>

                <!-- Infos sur le vendeur -->
                <div class="article-detail-cartouches">
                    <p>Vendeur</p>
                </div>
                <p th:text="${article.seller.pseudo}"></p>

                <!-- Infos sur le lieu de retrait -->
                <div class="article-detail-cartouches">
                    <p>Lieu de retrait</p>
                </div>
                <p th:text="${article.getDeliveryAddress().address} + ', ' + ${article.getDeliveryAddress().zipCode} + ' ' + ${article.getDeliveryAddress().city}"></p>

            </div>

            <div class="details-article-propositions"> <!-- Deuxième colonne : les propositions (enchères) pour cet article -->

                <div class="box-create-proposition">
                    <div>
                        <p class="box-proposition-title">Faire une offre</p>
                        <p>Montant disponible : <span th:text="${userConnected?.walletPoint}"></span> points</p>
                    </div>
                    <form method="post" th:action="@{/article/{id}/addProposal(id=${article.id})}" th:object="${proposal}">
                        <label for="PointProposal"></label>
                        <input class="input-proposition" type="number" id="PointProposal" name="pointProposal" th:field="*{pointProposal}">
                        <button class="button-proposition-validate" type="submit">Valider</button>
                    </form>
                </div>

                <div th:each="el : ${listProposal}" class="box-enchere-article" th:classappend="${el.ranking == 1 ? 'ranking1' : ''}" >
                    <div> <!-- Infos de la proposition -->
                        <p class="details-encheres-points"><span th:text="${el.pointProposal}"></span> points</p>
                        <p>Proposée par <span th:text="${el.buyer.pseudo}"></span>
                            le <span th:text="${#temporals.format(el.dateProposal, 'dd/MM/yyyy') }"></span></p>
                    </div>
                    <div> <!-- ranking -->
                        <p class="details-encheres-ranking" th:text="${el.ranking}"></p>
                    </div>
                </div>

            </div>

        </div>


    </main>
</div>