<!DOCTYPE html>

<div th:replace="~{fragments/layout :: layout(content= ~{::main}) }">
    <main>
        index
        <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Catégorie</th>
                <th>Description</th>
                <th>Date de fin d'enchère</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${listArticle}">
                <td th:text="${item.name}"></td>
                <td th:text="${item.category}"></td>
                <td th:text="${item.description}"></td>
                <td th:text="${item.endingDate}"></td>
            </tr>
            </tbody>
        </table>
    </main>
</div>