<!DOCTYPE html>

<div th:replace="~{fragments/layout :: layout(content= ~{::main}) }" xmlns:margin="http://www.w3.org/1999/xhtml">
    <main>
        <div style="display: flex; justify-content: center">
            <h2>Acceuil</h2>
        </div>

        <div style="display: flex; flex-direction: row; justify-content: center; background-color: #dcdcdc; height: 10rem; margin: 20px;">


            <div>
                <form th:action="@{/search}"
                       th:object="${searching}"
                       methode="post">
                    <select th:field="*{category}">
                        <option value="NULL">Tous</option>
                        <option th:each="item : ${listCategory}" th:value="${item.idCategory}" th:text="${item.name}"></option>
                    </select>
                    <button type="submit">Rechercher</button>
                </form>
            </div>

        </div>
        <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; margin: 20px; background-color: white">
            <div style="display: flex; flex-direction: column; justify-content: space-around;background-color: #dcdcdc; margin: 1rem; padding: 1rem; width: 15rem; height: 20rem"
                 th:each="item : ${listArticle}">
                <div style="display: flex; flex-direction: row; justify-content: center; width: 15rem; height: 15rem; background-color: white">
                    Image
                </div>
                <div>Nom : <span th:text="${item.name}"></span></div>
                <div th:text="${item.category?.name}">Catégorie :</div>
                <div th:text="${item.finalPoint}">Enchère finale</div>
                <div th:text="${item.endingDate}">Fin de l'enchère</div>
                <div>Vendeur : <span th:text="${item.seller?.pseudo}"></span></div>
                <a th:href="@{/article/{id}(id=${item.idArticle})}">Consulter</a>
            </div>
        </div>
    </main>
</div>