<!DOCTYPE html>

<div th:replace="~{fragments/layout :: layout(content= ~{::main}) }">

    <main>

        <h2>Inscription</h2>

        <form th:action="@{/inscription/new}"
              method="post"
              th:object="${newUser}"
              class="form-signin">

            <div class="form-col2">

                <p>Informations de connexion</p><br>

                <div>
                    <label for="pseudo">Pseudo*</label>
                </div>
                <div>
                    <input type="text" id="pseudo" name="pseudo" th:field="*{pseudo}"
                    placeholder="Ex : JulienProfDu35">
                </div>
                <div class="error-login" th:errors="*{pseudo}"></div>
                <div>
                    <label for="email">Email*</label>
                </div>
                <div>
                    <input type="text" id="email" name="email" th:field="*{email}"
                           placeholder="exemple@exemple.fr">
                </div>
                <div class="error-login" th:errors="*{email}"></div>
                <div>
                    <label for="password">Mot de passe*</label>
                </div>
                <div>
                    <input type="password" id="password" name="password" th:field="*{password}"
                           placeholder="Au moins une majuscule, un chiffre et un caractère spécial">
                </div>
                <div class="error-login" th:errors="*{password}"></div>
                <div class="error-login" th:each="err : ${#fields.errors('global')}" th:text="${err}"></div>
                <!-- Ajouter confirmation du password -->

            </div>

            <div class="form-col2">

                <p>Informations de contact</p><br>

                <div>
                    <label for="lastName">Nom*</label>
                </div>
                <div>
                    <input type="text" id="lastName" name="lastName" th:field="*{lastName}"
                           placeholder="Ex : Dupont">
                </div>
                <div class="error-login" th:errors="*{lastName}"></div>
                <div>
                    <label for="firstName">Prénom*</label>
                </div>
                <div>
                    <input type="text" id="firstName" name="firstName" th:field="*{firstName}"
                           placeholder="Ex : Julien">
                </div>
                <div class="error-login" th:errors="*{firstName}"></div>
                <div>
                    <label for="address">Adresse*</label>
                </div>
                <div>
                    <input type="text" id="address" name="address" th:field="*{address}"
                           placeholder="Ex : 12 rue des Lilas">
                </div>
                <div class="error-login" th:errors="*{address}"></div>
                <div class="form-souscol">
                    <div class="form-souscol2">
                        <div>
                            <label for="zipCode">Code Postal*</label>
                        </div>
                        <div>
                            <input type="text" id="zipCode" name="zipCode" th:field="*{zipCode}"
                                   placeholder="Ex : 75013">
                        </div>
                    </div>
                    <div class="form-souscol2">
                        <div>
                            <label for="city">Ville*</label>
                        </div>
                        <div>
                            <input type="text" id="city" name="city" th:field="*{city}"
                                   placeholder="Ex : Paris">
                        </div>
                    </div>
                </div>
                <div class="error-login" th:errors="*{zipCode}"></div>
                <div class="error-login" th:errors="*{city}"></div>
                <div>
                    <label for="phone">Numéro de téléphone*</label>
                </div>
                <div>
                    <input type="text" id="phone" name="phone" th:field="*{phone}"
                           placeholder="(+33)">
                </div>
                <div class="error-login" th:errors="*{phone}"></div>

            </div>

            <button class="button-signin-inscription" type="submit">Créer mon compte</button>


        </form>

    </main>

</div>