<!DOCTYPE html>

<div data-th-replace="~{fragments/layout :: layout(content= ~{::main}) }">

  <main>

    <h2>Mes enchères</h2>

    <h3 class="conteneur-nav-encheres-user">
      <a href="#encheres-encours">En cours</a>
      <a href="#encheres-terminees">Terminées</a>
    </h3>

    <div class="encheres-user">

        <div class="conteneur-encheres-user" id="encheres-encours">

          <div th:each="el : ${proposalECList}" class="conteneur-encheres-user-col2">

            <a th:href="@{/article/{id}(id=${el.article.idArticle})}">

            <div class="box-enchere-user" th:classappend="${el.ranking == 1 ? 'ranking1' : ''}" >

                <div>
                  <h4 th:text="${el.article.getName()}"></h4>
                  <p><span class="gras">Prix proposé :</span> <span th:text="${el.pointProposal}"></span> points</p>
                  <p><span class="gras">Fin de la vente</span> le
                    <span th:text="${#temporals.format(el.article.endingDate, 'dd/MM/yyyy')}"></span>
                    à <span th:text="${#temporals.format(el.article.endingDate, 'HH:mm') }"></span>
                  </p>
                </div>

                <div> <!-- ranking -->
                  <p class="details-encheres-user-ranking" th:text="${el.ranking}"></p>
                </div>

            </div>
            </a>
          </div>
        </div>

        <div class="conteneur-encheres-user" id="encheres-terminees" >

          <div th:each="el : ${proposalVDLVList}" class="conteneur-encheres-user-col2">

              <a th:href="@{/article/{id}(id=${el.article.idArticle})}">

                <div class="box-enchere-user" th:classappend="${el.ranking == 1 ? 'ranking1' : ''}">

                    <div>
                        <h4 th:text="${el.article.getName()}"></h4>
                        <p><span class="gras">Prix proposé :</span> <span th:text="${el.pointProposal}"></span> points</p>
                        <p><span class="gras">Prix gagnant :</span> <span th:text="${el.article.getFinalPoint()}"></span> points</p>
                        <p><span class="gras">Vente terminée</span> le
                            <span th:text="${#temporals.format(el.article.endingDate, 'dd/MM/yyyy')}"></span>
                            à <span th:text="${#temporals.format(el.article.endingDate, 'HH:mm') }"></span>
                        </p>
                    </div>

                    <div> <!-- ranking -->
                        <p class="details-encheres-user-ranking" th:text="${el.ranking}"></p>
                    </div>

<!--                    -->
<!--                    <p th:text="${el.article.getName()}"></p>-->
<!--                    <p>Prix proposé : <span th:text="${el.pointProposal}"></span> point(s)</p>-->
<!--                    <p>Prix gagnant : <span th:text="${el.article.getFinalPoint()}"></span> point(s)</p>-->
<!--                    <p>Classement final : <span th:text="${el.ranking}"></span></p>-->
<!--                    <p>Vente terminée depuis le-->
<!--                      <span th:text="${#temporals.format(el.article.endingDate, 'dd/MM/yyyy')}"></span>-->
<!--                      à <span th:text="${#temporals.format(el.article.endingDate, 'HH:mm') }"></span>-->
<!--                    </p>-->

                </div>
              </a>
          </div>
        </div>

    </div>

  </main>

</div>