<!DOCTYPE html>

<div data-th-replace="~{fragments/layout :: layout(content= ~{::main}) }">

  <main>

    <h2>Mes enchères</h2>

    <h3>En cours</h3>

    <div th:each="el : ${proposalECList}">

      <div class="box-enchere" th:classappend="${el.ranking == 1 ? 'ranking1' : ''}" >

        <a th:href="@{/article/{id}(id=${el.article.idArticle})}">

          <p th:text="${el.article.getName()}"></p>
          <p>Prix proposé : <span th:text="${el.pointProposal}"></span> point(s)</p>
          <p>Classement : <span th:text="${el.ranking}"></span></p>
          <p>Fin de la vente le
            <span th:text="${#temporals.format(el.article.endingDate, 'dd/MM/yyyy')}"></span>
            à <span th:text="${#temporals.format(el.article.endingDate, 'HH:mm') }"></span>
          </p>

        </a>

      </div>
    </div><br>

    <h3>Terminées</h3>

    <div th:each="el : ${proposalVDLVList}">

      <div class="box-enchere" th:classappend="${el.ranking == 1 ? 'ranking1' : ''}">

        <a th:href="@{/article/{id}(id=${el.article.idArticle})}">

          <p th:text="${el.article.getName()}"></p>
          <p>Prix proposé : <span th:text="${el.pointProposal}"></span> point(s)</p>
          <p>Prix gagnant : <span th:text="${el.article.getFinalPoint()}"></span> point(s)</p>
          <p>Classement final : <span th:text="${el.ranking}"></span></p>
          <p>Vente terminée depuis le
            <span th:text="${#temporals.format(el.article.endingDate, 'dd/MM/yyyy')}"></span>
            à <span th:text="${#temporals.format(el.article.endingDate, 'HH:mm') }"></span>
          </p>

        </a>

      </div>

    </div>

  </main>

</div>