<!DOCTYPE html>

<div data-th-replace="~{fragments/layout :: layout(content= ~{::main}) }" xmlns:sec="http://www.w3.org/1999/xhtml">

    <main>

        <div th:object="${userConnected}">

            <h2>Mon compte</h2>
            <p class="message-bonjour">Bonjour <span th:text="*{firstName}"></span></p>

            <div class="conteneur-compte-user">

                <div class="wallet">
                    <div class="wallet-col">
                        <p class="titre-portefeuille">Portefeuille disponible</p>
                        <p class="montant-portefeuille"> <span th:text="*{walletPoint}"></span> points</p>
                    </div>
                    <div class="wallet-col">
                        <p class="titre-portefeuille">Portefeuille en attente</p>
                        <p class="montant-portefeuille"> <span th:text="*{walletPending}"></span> points</p>
                    </div>
                </div>

                <div class="conteneur-infos-user">

                    <div class="info-connexion">
                        <h3>Informations de connexion</h3>
                        <p class="space-info"><span class="sous-titre-infos">Pseudo</span><span th:text="*{pseudo}"></span></p>
                        <p><span class="sous-titre-infos">Email</span><span th:text="*{email}"></span></p>
                    </div>

                    <div class="info-contact">
                        <h3>Informations de contact</h3>
                        <p><span th:text="*{firstName}"></span> <span th:text="*{lastName}"></span></p>
                        <p><span th:text="*{address}"></span>, <span th:text="*{zipCode}"></span> <span th:text="*{city}"></span></p>
                        <p><span th:text="*{phone}"></span></p>
                    </div>
                </div>

                <span class="buttons-compte">
                    <a class="button-modification-compte" href="/mon-compte/update">Modifier mes informations</a>
                    <a class="button-suppression-compte" href="#modaleConfirmationDesactivate">Désactiver mon compte</a>
                </span>

            </div>

        </div>

        <!-- Modale pour la confirmation de désactivation -->
        <div id="modaleConfirmationDesactivate" class="modal">
            <a href="#" class="overlay"></a>
            <div class="modal_content">
                <p class="titre-attention">Attention !</p>
                <p class="texte-attention">Êtes-vous sûr de vouloir désactiver votre compte ?<br>
                    Vous ne pourrez plus vous connecter</p>
                <a class="bouton-suppression-validation" href="/mon-compte/desactivate">Oui je comprends et je veux désactiver</a>
                <a class="bouton-suppression-annulation" href="#">Non, annuler</a>
            </div>

        </div>

    </main>

</div>